# ==========================================
# FRONTEND VERCEL ENVIRONMENT VARIABLES
# ==========================================
# URL Backend API (Laravel)
VITE_API_BASE_URL=https://kkncangkuangkulon.my.id/api_laravel/public/api
VITE_API_URL=https://kkncangkuangkulon.my.id/api_laravel/public/api
